@charset "utf-8";
/* CSS Document */
/*css reset start*/
@font-face {
  font-family: "dot";
  src:url('../css/Didot-HTF-B11-Bold.ttf'),
  url('../css/Didot-HTF-B11-Bold.otf'), 
  url('../css/Didot-HTF-B11-Bold.woff');
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {border: none;font-size: 100%;margin: 0;padding: 0;vertical-align: middle;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
*{font-family: 'Microsoft YaHei', '宋体';}
img{border:0;}
a:link{color: #999;}
a:visited{color: #999;}
a{text-decoration: none;font-size:14px;color:#000;}
li{list-style: none;}
ul, li{margin: 0;padding:0;}
input{outline:none;}
.left{float:left;}
.right{float:right;}
.fix{*zoom:1;}
.fix:after{
	display:block;
	content:".";
	visibility:hidden;
	clear:both;
}
/*css reset end*/

article{
	display:block;
	width:1200px;
	margin:0 auto;
}
.brand_story_article{height:2293px;}
footer{
	box-sizing:border-box;
	height:35px;
	width:100%;
	background-color:#333333;
	font-size:12px;
	color:#aeaeae;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	min-width:1200px;
}
footer a{
	font-size:12px;
	color:#aeaeae;
}
footer .frist{margin-left:20px;}
footer span{margin:auto 5px;}
/*header start*/

.header_table_one{
	position:absolute;
	box-sizing:border-box;
	height:100%;
	width:300%;
	border-collapse: collapse; 
	border-spacing: 0; 
	right:100%;
}
.header_content{
	position:relative;
	width:100%;
	height:580px;
	top:0px;
	min-width:1200px;
	overflow:hidden;
}
.header_content .header_bgd{
	position:absolute;
	left:50%;
	top:0px;
	display:inline-block;
	margin-left:-960px;
	width:1920px;
	height:580px;
}
.nav_content{
	height:126px;
	width:100%;
	min-width:1200px;
	position:absolute;
	background-color:#000;
	z-index:2;
	top:0px;
	opacity:0.0;
	filter:alpha(opacity=0);
}
.nav_content:hover{
	opacity:0.75;
	filter:alpha(opacity=75);
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.nav_content img{
	display:block;
	position:absolute;
	height:90px;
	width:128px;
	top:15px;
	left:50%;
	margin-left:-64px;
}
#header_logo_img{
	display:block;
	z-index: 1;
	position:absolute;
	height:90px;
	width:128px;
	top:15px;
	left:50%;
	margin-left:-64px;
}
.header_nav{
	box-sizing:border-box;
	height:126px;
	width:1200px;
	margin:0 auto;
	display:block;
}
.header_nav li{
	float:left;
	height:126px;
	width:178px;
}
.header_nav a{
	display:inline-block;
	padding-top:35px;
	color:#fff;
	width:100%;
	height:91px;	
}
.header_nav a:hover{
	background-color:#111111;
}
.header_nav p{
	font-size:16px;
	text-align:center;
	width:100%;
}
.header_nav span{
	display:inline-block;
	font-size:12px;
	text-align:center;
	width:100%;
	margin-top:10px;
}
.header_nav .four_children{
	margin-left:132px
}
.header_nav .header_li_1{
	width:134px;
}
.header_nav .header_li_2{
	width:134px;
}
.header_nav .header_li_3{
	width:134px;
}
.header_nav .header_li_4{
	width:134px;
}
.header_nav .header_li_5{
	margin-left:128px;
	width:107px;
}
.header_nav .header_li_6{
	width:107px;
}
.header_nav .header_li_7{
	width:107px;
}
.header_nav .header_li_8{
	width:107px;
}
.header_nav .header_li_9{
	width:107px;
}

/*页面头部轮播sec start*/
.my_top_div{
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
}
.my_top_ul{
	position:relative;
	/*width:400%;*/
	height:100%;
	left:-000%;
}
.my_top_ul li{
	float:left;
	/*width:25%;*/
	overflow: hidden;
}
.my_top_div img{
	position:relative;
	left:50%;
	margin-left:-960px;
}

/*.my_top_sec_div{
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
}
.my_top_sec_ul{
	position:relative;
	width:400%;
	height:100%;
	left:-000%;
}
.my_top_sec_ul li{
	float:left;
	width:25%;
	overflow: hidden;
}
.my_top_sec_div img{
	position:relative;
	left:50%;
	margin-left:-960px;
}

.my_top_fir_div{
	position:relative;
	width:100%;
	height:100%;
	overflow: hidden;
}
.my_top_fir_ul{
	position:relative;
	width:400%;
	height:100%;
	left:-000%;
}
.my_top_fir_ul li{
	float:left;
	width:25%;
	overflow: hidden;
}
.my_top_fir_div img{
	position:relative;
	left:50%;
	margin-left:-960px;
}*/
/*页面头部轮播sec end*/

/*header end*/

/*brand_story start*/
.brand_story_left{
	box-sizing:border-box;
	height:2293px;
	width:217px;
	border:1px solid #c9c9c9;
}
.brand_story_pic{
	height:67px;
	width:216px;
}
.brand_story_left h1{
	font-size:14px;
	font-weight:normal;
	width:216px;
	text-align:center;
	margin-top:33px;
	height:20px;
}
.brand_story_left h2{
	font-size:12px;
	font-weight:normal;
	width:216px;
	text-align:center;
	color:#696969;
}
.icon_up{
	display:block;
	height:26px;
	width:65px;
	margin:12px auto 30px;
}
.aside_nav a{
	color:#353535;
	display:block;
	box-sizing:border-box;
	width:216px;
	height:45px;
	text-align:center;
	padding-top:6px;
}
.aside_nav a:hover{
	background-color:#CCC;
	font-size:101%;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-o-transition:all 0.8s;
	-moz-transition:all 0.8s;
	
}
.aside_nav a:hover .aside_nav_under_line{
	display:block;
}
.aside_nav_under_line{
	height:2px;
	width:33px;
	background-color:#707070;
	margin:8px auto;
	display:none;
}
.icon_down{
	display:block;
	height:26px;
	width:65px;
	margin:25px auto 30px;
	-moz-transform:rotate(180deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.nav_phone_number_content{
	box-sizing:border-box;
	height:100px;
	width:191px;
	margin:25px auto 0;
	background:url(../images/brand_pic2.png) top left no-repeat;
	padding-top:25px;
}
.nav_phone_number{
	box-sizing:border-box;
	height:48px;
	width:158px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c9c9c9;
	margin:0 auto;
}
.nav_phone_number h3{
	width:158px;
	margin:0 auto;
	color:#353535;
	text-align:center;
	font-weight:normal;
	
}
.brand_story_right_content{
	box-sizing:border-box;
	height:2293px;
	width:925px;
	padding-top:31px;
}
.brand_right_content h1,h2{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-weight:normal;
}
.brand_right_content h1{
	margin-top:54px;
	height:25px;
	color:#353535;
	font-size:24px;
	margin-bottom:8px;
}
.brand_right_content h2{
	height:16px;
	color:#696969;
	font-size:16px;
	margin-bottom:23px;
}
.brand_right_content p{
	text-align:center;
	width:100%;
	font-size:14px;
	color:#696969;
	margin:0 auto;
	line-height:35px;
}
.brand_right_content img{
	height:458px;
	width:924px;
	margin-top:42px;
}


.brand_right_content1 h1,h2{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-weight:normal;
}
.brand_right_content1 h1{
	margin-top:54px;
	height:25px;
	color:#353535;
	font-size:24px;
	margin-bottom:8px;
}
.brand_right_content1 h2{
	height:16px;
	color:#696969;
	font-size:16px;
	margin-bottom:23px;
}
.brand_right_content1 p{
	text-align:center;
	width:100%;
	font-size:14px;
	color:#696969;
	margin:0 auto;
	line-height:35px;
}
.brand_right_content1 img{
	
	margin-top:42px;
}




.footer_top{height:65px;}
.footer_name_content{
	box-sizing:border-box;
	width:1200px;
	height:250px;
	margin:80px auto 0px;
	color:#333333;
	
}
.footer_name_content .line{
	height:1px;
	width:429px;
	background-color:#bfbfbf;
	margin-top:32px;
}
.icon_right{
	display:block;
	border:none;
	height:65px;
	width:26px;
	-moz-transform:rotate(180deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	margin-right:5px;
}
.icon_left{
	display:block;
	border:none;
	height:65px;
	width:26px;
	margin-left:5px;
}
.footer_name_content h1,h2{
	box-sizing:border-box;
	width:280px;
	text-align:center;
}
.footer_name_content h2{
	font-size:18px;
	margin-top:5px;
}
.footer_name_content h1{
	margin-top:15px;
}
.footer_name_content .text img{
	display:block;
	margin:0 auto;
	height:15px;
	width:249px;
}
.icons_link a{
	display: inline-block;
}
.icons_link{
	box-sizing:border-box;
	height:32px;
	width:145px;
	margin:0 auto;
	margin-top:28px;
}
.icons_link img{
	display: block;
	border-radius: 32px;
	background: #8d8d8d;
}
.footer_name_content p{
	width:100%;
	font-size:12px;
	color:#696969;
	text-align:center;
	line-height:25px;
}
.footer_name_content .frist{margin-top:20px;}
.brand_story .this_show{display:block;}
/*brand_story end*/

/*brand_about_us start*/
.brand_about_us{height:1727px}
.brand_about_us .this_show{display:block;}
/*brand_about_us end*/

/*about_privacy start*/
.about_privacy_icon{
	height:100%;
	width:48px;
	margin-right:35px;	
}
.privacy_icon{
	height:49px;
	width:48px;
}
.about_privacy_detail{
	box-sizing:border-box;
	width:926px;
	padding:28px 0px;
}
.privacy_one{height:250px;}
.brand_about_privacy h1,h2{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-weight:normal;
}
.brand_about_privacy h1{
	margin-top:54px;
	height:25px;
	color:#353535;
	font-size:24px;
	margin-bottom:8px;
}
.brand_about_privacy h2{
	height:16px;
	color:#696969;
	font-size:16px;
	margin-bottom:23px;
}
.privacy_text{
	color:#636363;
	font-size:14px;
	line-height:30px;
}
.about_privacy{height:1385px;margin-bottom:110px;}
.privacy_text strong{color:#353535;}
.privacy_one{height:250px;}
.privacy_two{height:140px;}
.privacy_three{height:255px;}
.privacy_four{height:150px;}
.privacy_five{height:220px;}
.about_privacy_bottom_info{
	margin-left:155px;
	box-sizing:border-box;
	height:213px;
	width:615px;
	background:url(../images/about_privacy2.png) center no-repeat;
}

.about_privacy .this_show{display:block;}
.about_privacy_bottom_info{
	width:615px;
	text-align:center;
}
.about_privacy_bottom_info .text_one{
	font-size:24px;
	margin-top:10px;
}
.about_privacy_bottom_info .text_two{
	font-size:#696969;
	color:#696969;
	margin-top:10px;
}
.about_privacy_bottom_info .text_three{
	font-size:14px;
	color:#696969;
	margin-top:18px;
}
.about_privacy_bottom_info .text_four{
	font-size:30px;
	color:#353535;
	margin-top:10px;
}
.about_privacy_bottom_info .text_five{
	font-size:12px;
	color:#696969;
	margin-top:10px;
}
.about_privacy_bottom_info .line{
	height:1px;width:294px;
	background-color:#c9c9c9;
	margin:0 auto;
	margin-top:10px;
}
.privacy_h1,.privacy_h2{
	width:100%;
	margin:0 auto;
	text-align:center;
	font-weight:normal;
}
.privacy_h1{
	margin-top:54px;
	height:25px;
	color:#353535;
	font-size:24px;
	margin-bottom:8px;
}
.privacy_h2{
	height:16px;
	color:#696969;
	font-size:16px;
	margin-bottom:23px;
}
/*about_privacy end*/

/*brand_characteristic start*/
.brand_characteristic{height:1396px}
.brand_characteristic .show{display:block;}
/*brand_characteristic end*/

/*brand_promise start*/
.brand_promise .show{display:block;}
.promise_info{
	height:100px;
	margin-bottom:70px;
}
.promise_info .number{
	height:50px;
	width:50px;
}
.promise_info a{
	margin-top:20px;
	display:block;
	height:48px;
	width:48px;
	box-sizing:border-box;
	border:3px solid #313131;
	color:#353535;
	font-size:24px;
	padding-top:5px;
	text-align:center;
	border-radius:24px;
}
.promise_text{
	height:100px;
	width:845px;
	font-size:14px;
	color:#636363;
	line-height:30px;
}
.promise_text strong{color:#000;}
.promise_info_four{height:170px;}
.promise_info_five{height:120px;}
.promise_info_six{height:260px;}
.promise_info_senven{height:170px;}
.brand_promise{height:1600px;}
/*brand_promise end*/

/*introduce_meal start*/
.introduce_article{
	box-sizing:border-box;
	height:2240px;
	border:0px dashed #707070;
	border-width: 0 1px;
	padding-top:40px;
}
.set_meal_footer{margin-top:65px;}
.set_meal_footer .no_show{ background-color:#fff;}
.introduce_article .content_top_title{
	text-align:center;
	font-size:24px;
	font-weight:normal;
}
.introduce_article .content_top_title_2{
	font-size:16px;
	color:#696969;
	line-height:35px;
}
.set_meal_content_nav{
	display:block;
	box-sizing:border-box;
	height:30px;
	width:420px;
	text-align:center;
	margin:0 auto;
}
.set_meal_content_nav li{
	list-style:none;
	float:left;
}
.set_meal_content_nav a{
	display:block;
	box-sizing:border-box;
	height:30px;
	width:99px;
	color:#adadad;
}
.set_meal_content_nav span{
	color:#adadad;
	display:block;
}
.set_meal_content_nav .nav_link_line{
	height:2px;
	width:33px;
	background-color:#707070;
	margin:8px auto 0px;
	display:none;
}
.set_meal_content_nav a:hover .nav_link_text{color:#353535;}
.set_meal_content_nav a:hover .nav_link_line{display:block;}
.set_meal_content_nav .text_this{color:#353535;}
.set_meal_content_nav .line_this{display:block;}
.set_meal_across_line{
	height:1px;
	width:1188px;
	margin:33px auto 0px;
	border:0px dashed #707070;
	border-bottom-width:1px;
}
.package_info{
	height:780px;
	width:1200px;
	margin:0 auto;
}
.package_unit{
	box-sizing:border-box;
	height:825px;
	width:600px;
	border:0px dashed #707070;
	border-right-width:1px;
	margin-top:10px;
}
.unit_top_pic{
	box-sizing:border-box;
	margin:10px auto 15px;
	height:238px;
	width:349px;
	background:url(../images/set_meal_bgd1.png) center no-repeat;
	padding-top:10px;
	padding-left:60px;
}
.unit_top_pic img{
	display:block;
	box-sizing:border-box;
	height:214px;
	width:214px;
	border-radius:214px;
	background:url(../images/introduce_package1.jpg) bottom center no-repeat;
}
.package_name{
	box-sizing:border-box;
	margin:0 auto;
	height:20px;
	width:165px;
}
.package_name .left_icon{
	box-sizing:border-box;
	height:18px;
	width:8px;
	border:0 solid #c9c9c9;
	border-width:3px 0 0 3px;
	margin-top:3px;
}
.package_name .package_text{
	font-size:18px;
	color:#4d4d4d;
	margin:0 14px;
}
.package_name .right_icon{
	box-sizing:border-box;
	height:18px;
	width:8px;
	border:0 solid #c9c9c9;
	border-width:0px 3px 3px 0px;
	margin-top:3px;
}
.package_unit .price{
	font-size:18px;
	color:#4d4d4d;
	height:20px;
	width:90px;
	margin:20px auto 0;
}
.package_unit .detail_info{
	box-sizing:border-box;
	height:440px;
	width:537px;
	margin-left:62px;
	margin-top:16px;
	font-size:12px;
	color:#4d4d4d;
	line-height:26px;
}
.center_circle{
	position:absolute;
	box-sizing:border-box;
	height:50px;
	width:50px;
	border-radius:50px;
	border:1px solid #959595;
	left:50%;
	margin-left:-24px;
	margin-top:-24px;
	background-color:#ffffff;
}
.center_circle .text_fri{
	width:100%;
	text-align:center;
	font-size:14px;
	color:#353535;
	margin-top:4px;
}
.center_circle .text_sec{
	width:100%;
	text-align:center;
	font-size:8px;
	color:#353535;
}
.unit_right{border-width:0px;}
.set_meal_center_line{margin-top:80px;}
/*introduce_meal end*/

/*meal_leave_words start*/
.not_foot{height:65px;}
.leave_words_content{
	height:630px;
	width:925px;
	margin:60px auto 0;
}
.leave_words_inputs{
	box-sizing:border-box;
	height:453px;
	width:453px;
	margin-top:55px;
}
.leave_words_img{
	height:453px;
	width:453px;
	border-radius:10px;
	margin-top:55px;
}
.meal_leave_words_line{margin-top:60px;}
.meal_leave_words_article{height:1400px}
.unit_line_info{
	height:58px;
	width:455px;
	box-sizing:border-box;
}
.unit_line_info .lable{
	height:50px;
	width:120px;
	margin-top:5px;
}
.unit_line_info .shixin_circle{
	height:8px;
	width:8px;
	background-color:#353535;
	border-radius:8px;
	margin:6px 15px 0 0 ;
}
.unit_line_info span{
	display:block;
	float:left;
	color:#353535;
}
.unit_line_info input{
	height:34px;
	width:235px;
	box-sizing:border-box;
	border-radius:10px;
	border:1px solid #aaaaaa;
	padding-left:5px;
}
.unit_line_info a{
	box-sizing:border-box;
	display:block;
	float:right;
	margin-left:10px;
	height:28px;
	width:71px;
	border-radius:28px;
	text-align:center;
	font-size:14px;
	color:#353535;
	border:1px solid #aaaaaa;
	padding-top:3px;
	
}
.unit_line_info a:hover{background-color:#eeeeee;}
.suggestion_area{
	height:110px;
	width:445px;
	margin-top:-16px;
	border-radius:10px;
	resize:none;
	padding:5px;
	outline:none;
}
.recommend_right_content{
	box-sizing:border-box;
	width:864px;
	padding-top:70px;
	margin-right:130px;
	color:#636363;
	line-height:30px;
	font-size:14px;
}
.recommend_right_content img{
	height:428px;
	width:864px;
}
.recommend_location_content{height:4780px;}
.recommend_location_content .content_one{height:820px;}
.recommend_location_content .content_two{height:880px;}
.recommend_location_content .content_three{height:750px;}
.recommend_location_content .content_four{height:1095px;}
.recommend_location_content .content_five{height:1040px;}
.meal_recommend_location_article{height:5310px;}
.left_number{
	height:48px;
	width:48px;
	box-sizing:border-box;
	border:3px solid #313131;
	text-align:center;
	color:#353535;
	font-size:24px;
	padding-top:6px;
	margin-top:90px;
	margin-left:120px;
	border-radius:24px;
}
/*meal_leave_words end*/

/*meal_trip_info start*/
.trip_info_article{height:1555px;}
.trip_info_content{height:1045px;}
.trip_info_content .content_one{height:200px;}
.trip_info_content .content_two{height:200px;}
.trip_info_content .content_three{height:200px;}
.trip_info_content .content_four{height:200px;}
.trip_info_content .content_five{height:200px;}
/*meal_trip_info end*/


/*dress_wedding start*/
.header_content_two{height:506px;}
#header_bgd_sec{height:506px;}
.dress_not_footer{
	margin:40px auto 10px;
	height:65px;
}
.dress_content_nav{width:313px;}
.dress_content_list li{list-style:none;float:left;}
.dress_content_list li a{
    display: block;
    width: 100%;
    height: 350px;
    line-height: 350px;
}
.dress_content_list img{
	box-sizing:border-box;
	max-height:350px;
	max-width:266px;
}
.dress_content_list{margin:48px auto 0px;width:1200px;}
.dress_content_list span{
	display:block;
	text-align:center;
}
.dress_content_list div{
	margin-top:15px;
	margin-left:28px;
}
.dress_content_list div a{
	display:inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height:26px;
	width:86px;
	margin-left:10px;
	border:1px solid #b5b5b5;
	color:#000000;
	font-size:14px;
	line-height:26px;
	text-align: center;
	border-radius: 5px;
}
.dress_content_list div a:hover{
	/*border:none;*/
	color:#FFFFFF;
	background-color: #313131;
}
.dress_content_list li span{
	font-size: 14px;
	color:#353535;
	font-family: 'Microsoft YaHei';
}
.dress_content_list li span.en{
	font-size: 16px;
	color:#696969;
	font-family: 'Arial';
}
.dress_content_list li{
	margin-left:45px;
	margin-bottom:45px;
}
.dress_content_list a:hover img{border:1px solid #ffffff;}
.dress_content_list .dress_content_list_fri{margin-left:0px;}
.dress_btns a{
	display:block;
	float:left;
	box-sizing:border-box;
	height:40px;
	width:80px;
	border:1px solid #dddddd;
	text-align:center;
	padding-top:8px;
	color:#616161;
	font-size:16px;
	margin-right:3px;
}
.dress_btns a:hover{
	background-color:#f7f7f7;
}
.dress_btns .this_btn{
	border-width:0px;
	color:#fff;
	background-color:#616161;
}
.dress_btns .this_btn:hover{
	border-width:0px;
	color:#fff;
	background-color:#616161;
}
.turn_page{
	text-align: center;
}
.dress_btns{
	height:80px;
	display: inline-block;
	margin:30px auto 0;
}
/*彈窗 start*/
.dress_dialog{}
.dress_dialog_bgd{
	display:block;
	position:fixed;
	height:100%;
	width:100%;
	background:url('../images/opa.png') left top repeat ;
	top:0px;
	left:0px;
	display:none;
}
.dress_dialog_bgd.now{
	display:block
}
.dress_dialog_content{
	position:absolute;
	box-sizing:border-box;
	height:620px;
	width:942px;
	left:50%;
	margin-left:-471px;
	top:50%;
	margin-top:-310px;
}
.pre_table img{
	box-sizing:border-box;
	height:36px;
	width:52px;
	/*max-height:36px;
	max-width:52px;*/
}
.pre_pics{
	box-sizing:border-box;
	height:36px;
}
.pre_pics{
	position:absolute;
	bottom:50px;
	left:130px;
}
.pre_table img:hover{border:1px solid #fff;}
.pre_table td{
	width:55px;
	text-align:center;
}
.dress_dialog_content .close_dialog{
	position:absolute;
	right:25px;
	top:25px;
	display:block;
	box-sizing:border-box;
	height:40px;
	width:40px;
	border-radius:3px;
	/*background-color:#dcdcdc;*/
	/*color:#353535;*/
	background-color:#000;
	color:#fff;
	opacity:0.50;
	font-size:25px;
	text-align:center;
	padding-top:5px;
}
.next_btns img{
	height:7px;
	width:16px;
}
.dress_dialog_content .next_btns{
	position:absolute;
	color:#cbcbcb;
	font-size:14px;
	left:30px;
	bottom:53px;
}
.dress_dialog_content .btn_right{
	-moz-transform:rotate(180deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.big_pic{margin:20px auto 0;}
.big_pic td{
	text-align:center;
	height:550px;
	width:900px;
}
.big_pic img{
	max-height:550px;
	max-width:900px;
	cursor: pointer;
}
.big_pic_this{
	border:1px solid #fff;
}
/*彈窗 end*/

/*dress_wedding end*/

/*化妝師頁面start*/
.makeup_makeer_nav{width:105px;}
.makeer_info{
	box-sizing:border-box;
	height:385px;
	width:1200px;
	margin:57px auto 65px;
}
.makeer_info img{
	display:block;
	float:left;
	height:385px;
	width:385px;
}
.makeer_detail{
	float:right;
	box-sizing:border-box;
	height:385px;
	width:815px;
	background-color:#f8f8f8;
	color:#696969;
	font-size:14px;
	padding:53px 90px 0 80px;
}
.makeup_works_title{
	height:70px;
	box-sizing:border-box;
	width:1200px;
	margin:0 auto;
}
.makeup_works_line{
	height:1px;
	width:430px;
	background-color:#bfbfbf;
	margin-top:35px;
}
.makeup_works_title .works_title {
	float:left;
	box-sizing:border-box;
	width:340px;
	text-align:center;
}
.makeup_works_title .works_title p{
	color:#000;
	font-size:24px;
	margin-top:10px;
}
.makeup_works_title .works_title span{
	color:#696969;
	font-size:18px;
	display:block;
	margin-top:3px;
}
/*化妝師頁面end*/

/*romantic_factor start*/
.index_frist_screen_pics{
	width:100%;
	height:100%;
	overflow: hidden;
	position:relative;
}
.banner_ul{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.banner_ul li{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* z-index: 8; */
	filter:alpha(opacity=0);
	opacity: 0;
    -moz-transition: all 5s;  /* Firefox 4 */
    -webkit-transition: all 5s;   /* Safari 和 Chrome */
    -o-transition: all 5s;
    transition: all 5s;
}
.banner_ul li.now{
	/* z-index: 9; */
	filter:alpha(opacity=100);
	opacity: 1;

}
.banner_ul li>img{
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05); 
	-moz-transition: all 6s;  /* Firefox 4 */
    -webkit-transition: all 6s;   /* Safari 和 Chrome */
    -o-transition: all 6s;
    transition: all 6s;
}
.banner_ul li.now>img{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1); 
}
.banner_ul li p{
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	padding-right: 20px;
	letter-spacing: 15px;
	moz-transition: all 6s;  /* Firefox 4 */
    -webkit-transition: all 6s;   /* Safari 和 Chrome */
    -o-transition: all 6s;
    transition: all 6s;
}
.banner_li1 p.word2{
	left: 140px;
}
.banner_li1 p.word3{
	left: 70px;
}
.banner_li2 p.word3{
	left: 40px;
}
.banner_li3 p.word2{
	left: 200px;
}
.banner_li3 p.word3{
	left: 115px;
}
.banner_li4 p.word2{
	left: 70px;
}
.banner_li4 p.word3{
	left: 80px;
}
.banner_ul li.now p{
	letter-spacing: 0px;
}
.banner_li1.now .word_box{
	left: 15%;
	bottom:33%;
}
.banner_li2.now .word_box{
	left: 38%;
	top:23%;
}
.banner_li3.now .word_box{
	left: 45%;
	bottom:18%;
}
.banner_li4.now .word_box{
	left: 6%;
	bottom:17%;
}
.banner_li1 .word_box{
	left: 25%;
	bottom:33%;
}
.banner_li2 .word_box{
	left: 48%;
	top:23%;
}
.banner_li3 .word_box{
	left: 64%;
	bottom:18%;
}
.banner_li4 .word_box{
	left: 16%;
	bottom:17%;
}
.banner_ul li.now .word_box{
	filter:alpha(opacity=100);
	opacity: 1;
	width: 840px;
}
.word_box{
	font-size: 62px;
	font-family: 'dot', 'Arial';
	position: absolute;
	filter:alpha(opacity=0);
	opacity: 0;
	width: 0px;
	overflow: hidden;
	moz-transition: all 6s;  /* Firefox 4 */
    -webkit-transition: all 6s;   /* Safari 和 Chrome */
    -o-transition: all 6s;
    transition: all 6s;
}
.word_box p{
	font-size: 62px;
	font-family: 'dot', 'Arial';
	color: #fff;
	font-style: italic;
}
.word_box p.word3{
	font-size: 36px;
	font-style: normal;
	font-family: 'Microsoft YaHei', '宋体';
}
.index_frist_screen_pics table{
	width:500%;
	height:100%;
	position:absolute;
	top:0;
	left:-000%;
	overflow: hidden;
	margin-top:-1px;
}
.index_frist_screen_pics td{
	width:20%;
	height:100%;
	overflow: hidden;
	display:inline-block;
	position:relative;
}
.index_frist_screen_pics span{
	display:block;
	position:absolute;
	overflow: hidden;
}
.index_frist_screen_pics .text1{
	background-image: url(../images/index_text1.png);
	top:40%;
	left:15%;
	width:604px;
	height:47px;
}
.index_frist_screen_pics .text2{
	background-image: url(../images/index_text2.png);
	width:509px;
	height:65px;
	top:40%;
	left:15%;
	margin-top:70px;
	margin-left:135px;
}
.index_frist_screen_pics .text3{
	background-image: url(../images/index_text3.png);
	width:367px;
	height:34px;
	top:40%;
	left:15%;
	margin-top:155px;
	margin-left:75px;
}
.index_frist_screen_pics .text4{
	background-image: url(../images/index_text4.png);
	width:516px;
	height:65px;
	top: 30%;
	left: 50%;
	margin-left: -258px;
}
.index_frist_screen_pics .text5{
	background-image: url(../images/index_text9.png);
	width:441px;
	height:34px;
	top: 30%;
	left: 50%;
	margin-left: -220px;
	margin-top: 80px;
}
.index_frist_screen_pics .text6{
	background-image: url(../images/index_text6.png);
	width:663px;
	height:47px;
	top: 30%;
	right: 15%;
	margin-top: 80px;
}
.index_frist_screen_pics .text7{
	background-image: url(../images/index_text5.png);
	width:524px;
	height:64px;
	top: 30%;
	right: 8%;
	margin-top: 180px;
}
.index_frist_screen_pics .text8{
	background-image: url(../images/index_text10.png);
	width:518px;
	height:35px;
	top: 30%;
	right: 18%;
	margin-top: 280px;
}
.index_frist_screen_pics .text9{
	background-image: url(../images/index_text7.png);
	width:644px;
	height:46px;
	top: 55%;
	left: 10%;
}
.index_frist_screen_pics .text10{
	background-image: url(../images/index_text8.png);
	width:748px;
	height:65px;
	top: 55%;
	left: 13%;
	margin-top:65px;
}
.index_frist_screen_pics .text11{
	background-image: url(../images/index_text11.png);
	width:480px;
	height:34px;
	top: 55%;
	left: 16%;
	margin-top:130px;;
}







.header_content.index_header{
	position:absolute;
	z-index:100;
	height:126px;
}
.index_down_btn{
	display:block;
	position:absolute;
	z-index:100;
	box-sizing:border-box;
	height:55px;
	width:55px;
	text-indent: -200px;
	overflow: hidden;
	background:url(../images/index_down_bgd2.png) left top no-repeat;
	bottom:40px;
	left:50%;
	margin-left:-28px;
}
.index_down_btn2{
	background:url(../images/index_down_bgd2.png) left top no-repeat;
}
.index_content{
	position:fixed;
	width:100%;
	height:400%;
	top:-0%;
}

/*第四屏 start*/
.content_box .content_four{
	box-sizing:border-box;
	/*height:100%;*/
	/*width:87.6%;*/
	height:960px;
	width:1495px;
	margin:0 auto;
	padding-top:126px;
	padding-bottom:45px;
}
.content_four_title{
	position:absolute;
	box-sizing:border-box;
	width:100%;
	height:112px;
	text-align:center;
}
.content_four_title h1{
	font-size:24px;
	font-weight:normal;
	margin-top:30px;
}
.content_four_title h2{
	font-size:16px;
	color:#696969;
	line-height:30px;
}
.content_four_info{
	height:100%;
	width:100%;
	margin:0 auto;
	box-sizing:border-box;
}
.content_four_pics{
	position:relative;
	float:right;
	top:-120px;
	box-sizing:border-box;
	/*height:100%;
	width:70%;
	max-width:1048px;
	max-height:800px;*/
	height:800px;
	width:1048px;
	background-color:#999999;
}
.romantic_factor_text{
	box-sizing:border-box;
	height:120px;
	width:700px;
	font-size:60px;
	color:#e4e4e4;
}
.romantic_factor_text:nth-child(1){
	margin-left:160px;
}
.romantic_factor_text span{
	display:block;
	float:left;
	font-size:80px;
	margin-top:-20px;
}
.content_four_pic_unit{
	float:left;
	box-sizing:border-box;
	height:50%;
	width:50%;
	cursor:pointer;
}
.meal_name_en{
	display:block;
	position:relative;
	top:-110px;
	left:40px;
	font-size:18px;
}
.meal_name_ch{
	display:block;
	position:relative;
	top:-105px;
	left:40px;
	font-size:16px;
	box-sizing:border-box;
	height:30px;
	width:156px;
	background-color:#000;
	color:#fff;
	text-align:center;
	padding-top:3px;
}
.pic_mouseover_see{
	position:relative;
	top:-100%;
	margin-top:-53px;
	box-sizing:border-box;
	height:100%;
	width:100%;
	background:url(../images/opa.png) left top repeat;
	display:none;
}
.pic_mouseover_see .line{
	width:1px;
	height:129px;
	background-color:#fff;
	position:absolute;
	left:20px;
	bottom:20px;
}
.pic_mouseover_see .money{
	position:absolute;
	bottom:112px;
	left:40px;
	color:#fff;
}
.pic_mouseover_see .money span:nth-child(1){
	font-size:14px;
	display:block;
	float:left;
	margin-top:26px;
}
.pic_mouseover_see .money span:nth-child(2){
	font-size:40px;
}
.pic_mouseover_see .money span:nth-child(3){
	position:absolute;
	font-size:18px;
	bottom:-25px;
	width:200px
}
.pic_mouseover_see .money span:nth-child(4){
	position:absolute;
	display:block;
	font-size:16px;
	bottom:-25px;
	box-sizing:border-box;
	height:30px;
	width:156px;
	background-color:#fff;
	color:#000;
	text-align:center;
	padding-top:3px;
	bottom:-60px;
}
.pic_mouseover_see .money span:nth-child(5){
	position:absolute;
	top:120px;
}
.pic_mouseover_see .money span:nth-child(6){
	position:absolute;
	top:120px;
	width:220px;
	left:100px;
}
.content_four_pic_unit:hover .pic_mouseover_see{
	display:block;
}
.content_four_pic_unit img{
	height:100%;
	width:100%;
}
.contnet_four_left_info{
	box-sizing:border-box;
	height:570px;
	float:left;
	width:447px;
	position:absolute;
	top:357px;
}
.introduce_us{
	position:absolute;
	top:0px;
	width:360px;
	height:160px;
	box-sizing:border-box;
	margin-left:45px;
}
.introduce_us h1{
	font-size:32px;
	color:#515151;
	font-weight:normal;
}
.introduce_us p{
	font-size:12px;
	color:#868686;
	line-height:25px;
	margin-top:20px;
}
.introduce_us_more{
	width:447px;
	height:195px;
	box-sizing:border-box;
	position:absolute;
	bottom:0px;
	background-color:#eeeeee;
	padding-top:45px;
	padding-right:45px;
	padding-left:45px;
}
.introduce_us_more p{
	width:200px;
	float:right;
	color:#868686;
	font-size:12px;
	line-height:20px;
}
.introduce_us_more a{
	display:block;
	box-sizing:border-box;
	height:24px;
	width:56px;
	text-align:center;
	background-color:#aaaaaa;
	color:#fff;
	font-size:12px;
	padding-top:3px;
	float:right;
	
}
.dress_detial_list{
  margin: 48px auto 0px;
  width: 1200px;
}
.dress_detial_list li{
	width: 266px;
	height: 388px;
	margin-left: 33px;
  margin-bottom: 45px;
  float: left;
}
.dress_detial_list li a{
	  display: block;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.dress_detial_list .tab_box {
	display: block;
	height: 350px;
	display: table;
}
.dress_detial_list .tab_box img{
	max-height: 100%;
	max-width: 100%;
}
.dress_detial_list li span {
  font-size: 14px;
  color: #353535;
  font-family: 'Microsoft YaHei';
  display: block;
  text-align: center;
}


@media (min-width:0px) and (max-width:1495px) { 
	.content_four_pics{
			height:640px;
			width:840px;
	}
	.content_box .content_four{
			height:769px;
			width:1196px;
	}
	.contnet_four_left_info{
		height:456px;
		width:358px;
		/*bottom:53px;*/
	}
	.introduce_us {
		width: 288px;
		height: 128px;
		margin-left:36px;
		top:0px;
	}
	.introduce_us_more {
		width: 358px;
		height: 156px;
		padding-top: 36px;
		padding-right: 36px;
		padding-left: 36px;
		position:absolute;
		top:253px;
	}
	.introduce_us_more p {
		width: 160px;
		float: right;
		color: #868686;
		font-size: 12px;
		line-height: 20px;
	}
	
}

@media (min-height:0px) and (max-height:945px) { 
	.content_four_pics{
			height:640px;
			width:840px;
	}
	.content_box .content_four{
			height:769px;
			width:1196px;
	}
	.content_four_title{
		margin-top: -20px;
	}
	.content_four_info{
		margin-top: -20px;
	}
	.contnet_four_left_info{
		height:456px;
		width:358px;
		/*bottom:53px;*/
	}
	.introduce_us {
		width: 288px;
		height: 128px;
		margin-left:36px;
		top:0px;
	}
	.introduce_us_more {
		width: 358px;
		height: 156px;
		padding-top: 30px;
		padding-right:18px;
		padding-left: 20px;
		position:absolute;
		top:253px;
	}
	.introduce_us_more a{
		position: absolute;
		right: 15px;
		bottom: 3px;
	}
	.introduce_us_more p {
		width: 193px;
		float: right;
		color: #868686;
		font-size: 12px;
		line-height: 20px;
	}
	
}
@media (min-width:0px) and (max-width:1400px) { 
	.content_four_pics{
			height:480px;
			width:710px;
	}
	.meal_name_ch{
		letter-spacing: 3px;
	}
	.content_box .content_four{
			height:769px;
			width:1196px;
	}
	.contnet_four_left_info{
		height:456px;
		width:358px;
		/*bottom:53px;*/
	}
	.introduce_us {
		width: 288px;
		height: 128px;
		margin-left:159px;
		top:-123px;
	}
	.introduce_us_more {
		width: 358px;
		height: 156px;
		padding-top: 36px;
		padding-right: 36px;
		padding-left: 36px;
		position:absolute;
		top: 94px;
		left: 128px;
	}
	.introduce_us_more p {
		width: 160px;
		float: right;
		color: #868686;
		font-size: 12px;
		line-height: 20px;
	}
	
}
/*第四屏 end*/

/*第二屏 start*/
.content_list2{
	box-sizing:border-box;
	height:100%;
	width:100%;
	background-color:#f9f9f9;
	padding-left:5px;
}
#content_list2{width:1920px;height:100%;}
#content_list3{width:1920px;height:100%;}
.content_box_title2{
	box-sizing:border-box;
	width:100%;
	height:205px;
}
.content_box_title2 h1{
	width:100%;
	text-align:center;
	font-size:24px;
	padding-top:92px;
	font-weight:normal;
}
.content_box_title2 h2{
	width:100%;
	font-size:16px;
	color:#696969;
	text-align:center;
	line-height: 30px;
}
.content_list2_groundpics{
	float:left;
	position:relative;
	box-sizing:border-box;
	height:382px;
	width:186px;
	margin-right:5px;
}
.content_list2_groundpics a{
	box-sizing:border-box;
	height:186px;
	width:186px;
	margin-bottom:10px;
	overflow:hidden;
}
.content_list2_groundpics img{
	height:186px;
	width:186px;
	
}
.content_list2_groundpics.center{margin-top:82px;}
.content_list2_groundpics.foot{margin-top:164px;}
.content_list2_groundpics.top{margin-top:0px;}
.content_list2_groundpics a{
	display:block;
	position:relative;
}
.content_list2 div>a:hover>img{
	width:130%;
	height:130%;
	margin-left:-15%;
	margin-top:-15%;
	transition: all 0.8s;
	-moz-transition: all 0.8s;	/* Firefox 4 */
	-webkit-transition: all 0.8s;	/* Safari 和 Chrome */
	-o-transition: all 0.8s;	/* Opera */
}
.content_list2_groundpics a:hover .mouse_over_hidden{
	display:none;
	transition: all 0.8s;
	-moz-transition: all 0.8s;	/* Firefox 4 */
	-webkit-transition: all 0.8s;	/* Safari 和 Chrome */
	-o-transition: all 0.8s;	/* Opera */
}
.content_list2_groundpics .mouse_over_hidden{
	height:186px;
	width:186px;
	box-sizing:border-box;
	background-color:#000;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0.7;
	filter:alpha(opacity=70);
	display:block;
}
/*.content_list2_groundpics a:hover .mouse_over_hidden{display:none}
.content_list2_groundpics a:hover img{
	height:240px;
	width:240px;
}*/
.content_list2_story{
	box-sizing:border-box;
	height:543px;
	float:left;
	width:379px;
	background-color:#1b1b1b;
	color:#333333;
	font-size:12px;
	padding-top:110px;
	padding-left:40px;
}
.content_list2_story h2{
	font-size:24px;
	color:#fff;
	line-height:30px;
	text-align:left;
}
.content_list2_story h1{
	font-size:32px;
	color:#fff;
	line-height:70px;
	font-weight:normal;
}
.content_list2_story p{
	width:315px;
	line-height:30px;
	color:#666;
	margin-top:15px;
}
.content_list2_lunbo{
	position:relative;
	float:left;
	box-sizing:border-box;
	height:543px;
	width:761px;
	margin-left:5px;
	margin-right:5px;
	overflow: hidden;
}
.content_list2_lunbo>a{
	display:block;
	height:100%;
	width:100%;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
}
.content_list2_lunbo .btns{
	position:absolute;
	bottom:16px;
	right:16px;
}
.content_list2_lunbo .btns a{
	display:block;
	position:relative;
	float:left;
	box-sizing:border-box;
	height:9px;
	width:9px;
	border-radius:9px;
	background-color:#282a32;
	margin-left:10px;
}
.content_list2_lunbo .btns a.now{background-color:#fff}
.content_list2_table{
	width:400%;
	height:100%;
	margin:-3px 0 0 -2px;
	position:relative;
	border-collapse: collapse; 
    border-spacing: 0; 
}
.banner_ul2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.banner_ul2 li{
	height: 543px;
	width: 761px;
	float: left;
}
.banner_ul2 li img, .banner_ul2 li a{
	display: block;
	width: 100%;
	height: 100%;
}
/*.content_list1 img{
	position:absolute;
	left:0px;
	top:0px;
}*/
/*第二屏 end*/
.content_box{
	position:relative;
	height:25%;
	width:100%;
	overflow:hidden;
}

.content_box_title{
	width:100%;
	box-sizing:border-box;
	height:16%;
}
.content_box_title p{
	width:100%;
	text-align:center;
	font-size:24px;
	color:#000;
	position:relative;
	top:20%;
}
.content_box_title span{
	position:relative;
	top:25%;
	display:block;
	width:100%;
	text-align:center;
	color:#696969;
	font-size:16px;
}
.content_list3 .content_box_pic{
	width:500%;
	left: -100%;
	position:relative;
	overflow: hidden;
	background: #000;
}
.content_box_pic ul{
	width:20%;
	position:relative;
	float:left;
}
.content_box_pic ul li{
	position:relative;
	float:left;
	list-style:none;
	width:20.3%;
	margin-left:6.25%;
	/*width:20.3%;
	margin-left:6.25%;*/
}
.content_box_pic li>img{
	position: relative;
	z-index: 8;
}
.content_box_pic ul li.index_img1	{margin-left:0;}
.content_box_pic ul li.index_img2>img{margin-left:-31%;}
.content_box_pic ul li.index_img3>img{margin-left:-31%;}
.content_box_pic ul li.index_img4>img{margin-left:-31%;}
.index_img1>p{
	left: 10px;
}
.index_img4>p{
	left: -38px;
}
.mouse_over_clear{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9;
	transition: all 0.8s;
	-moz-transition: all 0.8s;	/* Firefox 4 */
	-webkit-transition: all 0.8s;	/* Safari 和 Chrome */
	-o-transition: all 0.8s;	/* Opera */
}
.now .mouse_over_clear{
	filter:alpha(opacity=0);
	opacity: 0;
}
.index_img1 .mouse_over_clear{
	width: 510px;
	height: 789px;
	background: url('../images/imgopa1.png') center no-repeat ;
}
.index_img2 .mouse_over_clear{
	width: 630px;
	height: 789px;
	margin-left: -31%;
	background: url('../images/imgopa2.png') center no-repeat ;
}
.index_img3 .mouse_over_clear{
	width: 630px;
	height: 789px;
	margin-left: -31%;
	background: url('../images/imgopa3.png') center no-repeat ;
}
.index_img4 .mouse_over_clear{
	width: 510px;
	height: 789px;
	margin-left: -31%;
	background: url('../images/imgopa4.png') center no-repeat ;
}
/* .content_box_pic .mouse_over_clear{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#000;
	opacity:0.60;
	filter:alpha(opacity=60);
} */
/* .content_box_pic li:hover .mouse_over_clear{
	cursor:pointer;
	opacity:0.00;
	filter:alpha(opacity=00);
	transition:all 1.5s;
	-moz-transition:all 1.5s;
	-ms-transition:all 1.5s;
	-o-transition:all 1.5s;
	-webkit-transition:all 1.5s;
} */
.content_box_pic .opacity_div{
	position:absolute;
	top:0;
	left:-30.75%;
	height:100%;
	width:30.75%;
	background-color:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.content_box_pic ul p{
	position:absolute;
	bottom:17%;
	width:99%;
	height:24px;
	z-index:200;
	text-align:center;
	background:url(../images/text_logo.png) center no-repeat;
	background-size:cover;
}
.content_box_pic .mouse_over_text{
	z-index:200;
	position:absolute;
	bottom:29%;
	margin:0 auto;
	left:35%;
	box-sizing:border-box;
	height:110px;
	width:110px;
	background-color:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	font-size:16px;
	color:#fff;
	border-radius:110px;
	text-align:center;
	padding-top:45px;
	display:none;
}
.content_box_pic li.now .mouse_over_text{
	display: block;
}
.content_list3 .prev{
	display:block;
	position:absolute;
	z-index: 10;
	box-sizing:border-box;
	height:75px;
	width:75px;
	top:55%;
	left:30px;
	background:url(../images/index_down_bgd.png) left top no-repeat;
	-moz-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.content_list3 .next{
	display:block;
	position:absolute;
	z-index: 10;
	box-sizing:border-box;
	height:75px;
	width:75px;
	top:55%;
	right:30px;
	background:url(../images/index_down_bgd.png) left top no-repeat;
	-moz-transform:rotate(270deg); 
	-webkit-transform:rotate(270deg);
	transform:rotate(270deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*.content_box_pic .pic{
	position:relative;
	float:left;
	overflow:visible;
}
.pic .shape{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-size:100%;
}
*/
.content_box_pic .mouse_over_no_see{
	position:relative;
	display:block;
	height:100%;
	width:100%;
	background-color:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.content_box .wavy_line{
	width:100%;
	position:absolute;
	bottom:0px;
	height:10px;
	background:url(../images/wavy_line.png) repeat left;
	z-index:90;
}
/*romantic_factor end*/

/*弹出框虚拟左右键 start*/

.dia_left_no_see{
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	left:0;
	box-sizing:border-box;
	text-align:left;
	padding-top:300px;
	color:#999;
	font-size:40px;
	cursor:pointer;
	padding-left:100px;
}

.dia_right_no_see{
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	right:0;
	box-sizing:border-box;
	text-align:right;
	padding-top:300px;
	color:#999;
	font-size:40px;
	cursor:pointer;
	padding-right:100px;
}
/*弹出框虚拟左右键 end*/

.training_nav{
	width:315px;
}
.training_article{
	height:auto;
}
.training_aside{
	box-sizing: border-box;
	width:100%;
	padding:85px 135px 0px 125px;
	color:#636363;
	font-size:14px;
}
.training_aside1{
	padding-bottom:111px;
	border-bottom:1px dashed #707070;
}
.training_aside i{
	display:block;
	float:left;
	height:48px;
	width:48px;
	text-align: center;
	line-height:44px;
	font-size:24px;
	color:#353535;
	border:2px solid #353535;
	border-radius: 48px;
	font-style: normal;
}
.aside_content1{
	float:left;
	margin-left:35px;
	width:840px;
}
.aside_content1 h1{
	font-size:18px;
	color:#000000;
	font-weight:normal;
}
.aside_content1 h2{
	color:#696969;
	font-weight:normal;
	font-family: "Candara";
	text-align: left;
	line-height:25px;
	letter-spacing:1px;
}
.aside_content1 p{
	line-height:30px;
}
.aside_content1 h3{
	color:#353535;
	line-height:35px;
}
.aside_content1 .pics{
	margin:90px 0 0 70px;
	box-sizing: border-box;
	background: #eeeeee;
	width:auto;
	padding:4px 0px 0px 2px;
	width:758px;
	height:678px;
}
.aside_content1 .pics img{
	display:block;
	float:left;
	margin-left:6px;
	margin-top:4px;
}
.aside_content2{
	float:left;
	margin-left:35px;
	width:840px;
}
.aside_content2 h1{
	font-size:18px;
	color:#000000;
	font-weight:normal;
}
.aside_content2 h2{
	color:#696969;
	font-weight:normal;
	font-family: "Candara";
	text-align: left;
	line-height:25px;
	letter-spacing:1px;
}
.aside_content2 p{
	line-height:30px;
}
.aside_content2 h3{
	color:#353535;
	line-height:35px;
}
.aside_content2 h4{
	color:#353535;
	font-size:18px;
	font-weight: normal;
	line-height:40px;
}




























